{% extends 'portfolio/base.html' %}

{% load static %}

{% block portfolio-url %}#!{% endblock %}
{% block blog-url%}{% url 'blog:all_blogs' %}{% endblock %}
{% block mail-url %}{% url 'mail' %}{% endblock %}

{% block content %}

    <br><br>

    <div class="container" style="text-align: center;">
        <img src="{% static 'portfolio/front.jpg' %}" style="width: 50%; height: auto;" class="z-depth-5">
    </div>

    <div class="container center-align">
        <h3 class="quote">
            “There is no struggle too vast, no odds too overwhelming, for even should we fail - should we fall - we will know that we have lived.”
        </h3>
        <h3 class="right speaker">- Anomander Rake</h3>
    </div>
    <br><br><br>

    <div class="container left-align">
        <h1 class="remachine-font">Projects by sin-of-sloth</h1>
        <hr>
        <br>
    </div>

    <div class="container-fluid projects">
        <div class="row">
            {% for project in projects %}
            {% if forloop.counter0|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
                    <div class="col s3">
                        <div class="card transparent z-depth-3">
                            <div class="card-image">
                                <img src="{{ project.image.url }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ project.title }}</span>
                                <hr class="theme-text">
                                <p>{{ project.description }}</p>
                            </div>
                            {% if project.url %}
                            <div class="card-action valign-wrapper">
                                <br><a href="{{ project.url }}" target="_blank" class="card-link"><i class="material-icons left">launch</i>Go To Project</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                
            {% endfor %}
        </div>
    </div>

{% endblock %}