{% extends 'portfolio/base.html' %}

{% load static %}

{% block portfolio-url %}{% url 'home' %}{% endblock %}
{% block blog-url%}{% url 'blog:all_blogs' %}{% endblock %}
{% block mail-url %}#!{% endblock %}
{% block mobile-blog-url %}{% url 'blog:all_blogs' %}{% endblock %}
{% block mobile-mail-url %}#!{% endblock %}

{% block content %}

<br><br>
<div class="container">
    <div class="row">
        <div class="col l10 offset-l1 s12">
            <div class="card-panel transparent todo-card z-depth-3" style="border-radius: 15px;">
                <div class="container-fluid center specialelite-font">
                    <h1>Contact Me!</h1>
                </div>
                
                <div class="container-fluid">
                    <div class="row">
                        <form class="col s12" method="POST" action="{% url 'mailer' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col l10 offset-l1 s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email1" type="email" class="validate" name="email" required="" aria-required="true">
                                    <label for="email1">Email Address</label>
                                    <span class="helper-text" data-success="">Email should be of the form 'email@domain.com'</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col l10 offset-l1 s12">
                                    <i class="material-icons prefix">title</i>
                                    <input id="text1" type="text" class="materialize-textarea " name="header" max="78" required="" aria-required="true">
                                    <label for="text1">Subject</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col l10 offset-l1 s12">
                                    <i class="material-icons prefix">create</i>
                                    <textarea id="textarea1" class="materialize-textarea" name="body"></textarea>
                                    <label for="textarea1">Body</label>
                                </div>
                            </div>
                            <div class="row center">
                                <div class="col l4 offset-l4 s12">
                                    <button type="submit" class="btn btn-large mail-btn">Send Email<i class="material-icons right">send</i></button>&emsp;
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}

{%block script-block %}
{% if error %}
    $(document).ready(function(){
        M.toast({html: '{{ error }}', displayLength: 2000, classes: 'white-text red'});
    });
{% endif %}
{% endblock %}

