{% extends 'portfolio/base.html' %}

{% load static %}

{% block portfolio-url %}{% url 'home' %}{% endblock %}
{% block blog-urlf%}#!{% endblock %}
{% block mail-url %}{% url 'mail' %}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="remachine-font center">Blogs</h1>

        <h2 class="ubuntu-font center">sin-of-sloth has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
        
        <ul class="collapsible popout">
            {% for blog in blogs %}

            <li>
                <div class="collapsible-header">
                    <h6>
                        {% if blog.poem %}
                            <i class="material-icons left poem-prose">history_edu</i>
                        {% else %}
                            <i class="material-icons left poem-prose">receipt_long</i>
                        {% endif %}
                        {{ blog.title }}
                    </h6>
                    <i class="material-icons rotate right expand">expand_more</i>
                </div>
                    <div class="collapsible-body">
                        <span class="date">{{ blog.date|date:'jS F Y' }}</span>
                        <p>{{ blog.description|striptags|truncatechars:150 }}</p>
                        <a href="{% url 'blog:detail' blog.id %}" class="btn more-button">READ MORE<i class="material-icons left">read_more</i></a>
                    </span>
                </div>
            </li>        

            {% endfor %}
        </ul>
        
    </div>

{% endblock %}