body {
    background-color: #1a1926;
    color: #ffffff;
}

.brand-logo {
    color: #ff822f !important;
    text-shadow: 0 0 6px #ff822f !important;
}

.nav-wrapper ul a:hover {
    color : #292558;
    background-color: #adff2f;
}

.blog {
    color: #ff822f !important;
}

.bloglink:hover > .blog{
    color: #292558 !important;
}

.bloglink:hover {
    background-color: #ff822f !important;
}

.nav-wrapper {
    background-color: #292558 !important;
}

.nav-wrapper ul a {
    color: #adff2f;
}

.theme-text {
    color: #adff2f !important;
}

.collapsible-header {
    background-color: #292558 !important;
}

.more-button {
    background-color: #1a1926 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #adff2f !important;
    color: #adff2f !important;
}

.more-button:hover {
    background-color: #292558 !important;
}

.card-link {
    color: #adff2f !important;
}

.card-link:hover {
    color: #d2eea8 !important;
}

.card-title {
    color: #ff822f !important;
}

.back-button {
    color: #adff2f !important;
}

.back-button:hover {
    color: #d2eea8 !important;
}

.card-panel {
    background-color: #1a1926 !important;
}

input[type="text"]:focus, input[type="email"]:focus, textarea.materialize-textarea:focus {
    border-bottom: 1px solid #adff2f !important;
    box-shadow: 0 1px 0 0 #adff2f !important;
}

input[type="text"]:focus + label, input[type="email"]:focus + label, textarea.materialize-textarea:focus + label {
    color: #adff2f !important;
}

.input-field .prefix.active {
    color: #adff2f !important;
}

[type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 4px solid #adff2f !important;
    border-bottom: 4px solid #adff2f !important;
}

.input-field > label .active {
    color: #9e9e9e !important;
}

input[type="text"], input[type="email"], textarea.materialize-textarea {
    color: #ffffff !important;
}

.mail-btn {
    background-color: #ff822f !important;
}

.sidenav {
    background-color: #292558 !important;
}

.sidenav li a {
    color: #adff2f !important;
}
