body {
    background-color: #ffeaee;
    color: #000000;
}

.brand-logo {
    color: #2f9721 !important;
    text-shadow: 0 0 6px #2f9721 !important;
}

.nav-wrapper ul a:hover {
    color : #ffb7c5 !important;
    background-color: #6b87ff;
}

.blog {
    color: #2f9721 !important;
}

.bloglink:hover > .blog{
    color: #ffb7c5 !important;
}

.bloglink:hover {
    background-color: #2f9721 !important;
}

.nav-wrapper {
    background-color: #ffb7c5 !important;
}

.nav-wrapper ul a {
    color: #6b87ff !important;
}

.theme-text {
    color: #6b87ff !important;
}

.collapsible-header {
    background-color: #ffb7c5 !important;
}

.more-button {
    background-color: #ffeaee !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #6b87ff !important;
    color: #6b87ff !important;
}

.more-button:hover {
    background-color: #ffb7c5 !important;
}

.card-link {
    color: #6b87ff !important;
}

.card-link:hover {
    color: #a8b5eb !important;
}

.card-title {
    color: #2f9721 !important;
}

.back-button {
    color: #6b87ff !important;
}

.back-button:hover {
    color: #a8b5eb !important;
}

.card-panel {
    background-color: #ffeaee !important;
}

input[type="text"]:focus, input[type="email"]:focus, textarea.materialize-textarea:focus {
    border-bottom: 1px solid #6b87ff !important;
    box-shadow: 0 1px 0 0 #6b87ff !important;
}

input[type="text"]:focus + label, input[type="email"]:focus + label, textarea.materialize-textarea:focus + label {
    color: #6b87ff !important;
}

.input-field .prefix.active {
    color: #6b87ff !important;
}

[type="checkbox"]:checked + span:not(.lever)::before {
    border-right: 4px solid #6b87ff !important;
    border-bottom: 4px solid #6b87ff !important;
}

.input-field > label .active {
    color: #9e9e9e !important;
}

input[type="text"], input[type="email"], textarea.materialize-textarea {
    color: #000000 !important;
}

.mail-btn {
    background-color: #2f9721 !important;
}
