body {
    background-color: #ffeaee;
    color: #000000;
}

.brand-logo {
    color: #2f9721 !important;
    text-shadow: 0 0 6px #2f9721 !important;
}

.nav-wrapper ul a:hover {
    color : #ffb7c5 !important;
    background-color: #6b87ff;
}

.blog {
    color: #2f9721 !important;
}

.bloglink:hover > .blog{
    color: #ffb7c5 !important;
}

.bloglink:hover {
    background-color: #2f9721 !important;
}

.nav-wrapper {
    background-color: #ffb7c5 !important;
}

.nav-wrapper ul a {
    color: #6b87ff !important;
}

.theme-text {
    color: #6b87ff !important;
}

.collapsible-header {
    background-color: #ffb7c5 !important;
}

.more-button {
    background-color: #ffeaee !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #6b87ff !important;
    color: #6b87ff !important;
}

.more-button:hover {
    background-color: #ffb7c5 !important;
}

.card-link {
    color: #6b87ff !important;
}

.card-title {
    color: #2f9721 !important;
}