@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Montserrat&display=swap');

@font-face {
    font-family: 'GreatVibes';
    src: url('../fonts/GreatVibes-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'UbuntuTitle';
    src: url('../fonts/Ubuntu-Title.ttf') format("truetype");
}

@font-face {
    font-family: 'RemachineScript';
    src: url('../fonts/RemachineScript.ttf') format("truetype");
}

@font-face {
    font-family: 'Conspiracy';
    src: url('../fonts/CONSPIRA.TTF') format("truetype");
}

body {
    font-family: 'Montserrat';
    position: relative !important;
    z-index: 2;
}

.projects {
    padding: 0 50px 0 50px;
}

.quote {
    font-family: 'Conspiracy';
}

.speaker {
    font-family: 'GreatVibes';
}

.brand-logo {
    font-family: 'Special Elite' !important;
    font-size: 40px !important;
}

.ubuntu-font {
    font-family: 'UbuntuTitle';
}

.remachine-font {
    font-family: 'RemachineScript';
    font-size: 100px !important;
}

.navbar-logo {
    width: 30px !important;
    height: auto !important;
    vertical-align: middle !important;
    background-color: white !important;
}

.nav-wrapper ul li a i {
    font-size: 35px !important;
}

.card-image {
    height: 300px;
    overflow: hidden;
}

.collapsible-header {
    border-bottom: 0 !important;
    font-size: xx-large !important;
}

.collapsible-body {
    border-bottom: 0 !important;
}

.collapsible-header {
    justify-content: space-between;
}

.collapsible li.active .expand {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.rotate {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.date {
    font-family: 'UbuntuTitle';
    font-size: large;
    color: #808080;
}

.content {
    z-index: 2 !important;
}

.switch label input[type="checkbox"]:checked + .lever:after {
    background-image: url("../dark.png");
    background-size: cover;
    background-color: #000000;
}
.switch label input[type="checkbox"]:checked + .lever {
    background-color: #000000 !important;
}
.switch label input[type="checkbox"]:not(:checked) + .lever:after {
    background-image: url("../light.png");
    background-size: cover;
    background-color: yellow;
}
.switch label input[type="checkbox"]:not(:checked) + .lever {
    background-color: lightblue;
}